.App {
  font-family: sans-serif;
  text-align: center;
}

tr,
td,
th {
  border: 1px solid gray;
  transition: ;
  -webkit-transition:;
  -moz-transition:;
  -ms-transition:;
  -o-transition:;
}

tr:hover{
  background-color: #6579CF;
  color: #ffffff;
}

th,
td {
  padding: 8px;
}

td.delete {
  cursor: pointer;
  font-size: 1.3rem;
}

table {
  width: 85%;
  margin: 20px auto;
  border-collapse: collapse;
  background: #ffffff;
}

th {
  background-color: rgb(178, 208, 248);
}

.App-loading {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  width: 100%;
}

.App-user,
.App-time {
  max-width: 100px;
}

.App-No {
  padding: 0 5px;
}

.App-reason {
  width: 500px;
}
