.App {
  font-family: sans-serif;
  text-align: center;
}

tr {
  border-bottom: 15px solid EEEDF2;
}

tr:last-child {
  border: none;
}

tr.App-row:hover {
  background-color: #e8e7ff;
}

th,
td {
  padding: 8px;
}

td.delete {
  cursor: pointer;
  font-size: 1.3rem;
}

table {
  width: 85%;
  margin: 20px auto;
  border-collapse: collapse;
  background: #ffffff;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  overflow: hidden;
}

th {
  background-color: #50439f;
  color: #ffffff;
}

.App-loading {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  width: 100%;
}

.App-user,
.App-time {
  max-width: 100px;
}

.App-No {
  padding: 0 5px;
}

.App-reason {
  width: 600px;
}
